In [21]:
import  pandas  as pd
import numpy as np
from datetime import datetime
import pymysql
from sqlalchemy import create_engine
conection=create_engine('mysql+pymysql://root@localhost:3306/test?charset=utf8')
df2=pd.read_sql('select * from 销量 limit 20',con=conection)

In [8]:
df = pd.DataFrame(np.random.randn(6,4), index=pd.date_range('20130101', periods=6), columns=list('ABCD')) 
print(df)

                   A         B         C         D
2013-01-01 -1.057488  0.176466 -2.591594  0.067702
2013-01-02 -1.554141 -1.602927  0.903878  0.045793
2013-01-03  0.032521  2.028384 -0.857617  0.190094
2013-01-04 -0.394612 -1.620906 -0.519734  0.644600
2013-01-05 -0.266178 -1.136552  0.542784  1.347529
2013-01-06 -0.146180  1.399205 -1.066721 -1.072044

# 添加数据

In [9]:
jia=pd.DataFrame({"A":[2],"B":2,"C":2,"D":2},index=[datetime(2013,1,1)])
df["D"]=[1,2,3,4,4,4]
df=pd.concat([jia,df])
print(df)

                   A         B         C  D
2013-01-01  2.000000  2.000000  2.000000  2
2013-01-01 -1.057488  0.176466 -2.591594  1
2013-01-02 -1.554141 -1.602927  0.903878  2
2013-01-03  0.032521  2.028384 -0.857617  3
2013-01-04 -0.394612 -1.620906 -0.519734  4
2013-01-05 -0.266178 -1.136552  0.542784  4
2013-01-06 -0.146180  1.399205 -1.066721  4

# 删除数据

In [10]:
df=df.drop(columns='A')
df=df.drop(datetime(2013,1,1))
print(df)

                   B         C  D
2013-01-02 -1.602927  0.903878  2
2013-01-03  2.028384 -0.857617  3
2013-01-04 -1.620906 -0.519734  4
2013-01-05 -1.136552  0.542784  4
2013-01-06  1.399205 -1.066721  4

# 更新数据

* 改变索引

In [11]:
df=df.rename({datetime(2013,1,1): 33333, 2: 4}, axis='index') # 微调
df=df.set_index('B')  #列变索引
print(df)

                  C  D
B
-1.602927  0.903878  2
 2.028384 -0.857617  3
-1.620906 -0.519734  4
-1.136552  0.542784  4
 1.399205 -1.066721  4

* 改变列名

In [12]:
df.columns=([1,2])                #暴力更改
df=df.rename(columns={1: "a", 2: "c"})   #微调
print(df)

                  a  c
B
-1.602927  0.903878  2
 2.028384 -0.857617  3
-1.620906 -0.519734  4
-1.136552  0.542784  4
 1.399205 -1.066721  4

* 替换数据

In [30]:
print(df2)
df2['品牌']=df2["品牌"].str.replace("旧","新")
print(df2)

    品牌        shopid    销量     单价
0   叙新  553624998618  1868   88.0
1   叙新  548903640042  1317   88.0
2   叙新  553825107928  1454   35.0
3   叙新  555011260737  1256  128.0
4   叙新  553740309832   706  125.0
5   叙新  555096534374   735  118.0
6   叙新  555012088083   898  238.0
7   叙新  555176827209   779  138.0
8   叙新  549707702804   479  165.0
9   叙新  555176303698   487  178.0
10  叙新  553595556643   497  168.0
11  叙新  553609128604   572  128.0
12  叙新  553741761916   572   85.0
13  叙新  553778598377   488  175.0
14  叙新  553141968737   621   88.0
15  叙新  555176835732   850  158.0
16  叙新  546670572781   368   88.0
17  叙新  549567116181   418  118.0
18  叙新  555176059470   665  148.0
19  叙新  529795469130   258  138.0
    品牌        shopid    销量     单价
0   叙新  553624998618  1868   88.0
1   叙新  548903640042  1317   88.0
2   叙新  553825107928  1454   35.0
3   叙新  555011260737  1256  128.0
4   叙新  553740309832   706  125.0
5   叙新  555096534374   735  118.0
6   叙新  555012088083   898  238.0
7   叙新  555176827209   779  138.0
8   叙新  549707702804   479  165.0
9   叙新  555176303698   487  178.0
10  叙新  553595556643   497  168.0
11  叙新  553609128604   572  128.0
12  叙新  553741761916   572   85.0
13  叙新  553778598377   488  175.0
14  叙新  553141968737   621   88.0
15  叙新  555176835732   850  158.0
16  叙新  546670572781   368   88.0
17  叙新  549567116181   418  118.0
18  叙新  555176059470   665  148.0
19  叙新  529795469130   258  138.0

#  重塑数据